@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
 * {
	 box-sizing: border-box;
}
 h7 {
	 font-size: 1.4em;
	 font-weight: 700;
	 display: inline-block;
	 vertical-align: middle;
}
 h7:before {
	 display: block;
	 width: 80px;
	 height: 80px;
	 margin: 0 auto 0.7em;
	 content: '';
	 background-size: contain;
	 background-position: center;
}
 p {
	 line-height: 1.9em;
	 font-size: 20px;
}
 .v-center {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
}
 article {
	 width: 400px;
	 margin: 0 1em;
	 color: white;
	 perspective: 1000px;
	 position: relative;
	 text-align: center;
}
 article .front, article .back {
	 transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	 backface-visibility: hidden;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 min-height: 400px;
}
 article .front {
	 position: absolute;
	 z-index: 2;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 transform: rotateY(0deg);
	 background-size: cover;
	 background-position: center;
	 background-color: #222;
	 background-blend-mode: overlay;
}
 article .front .text {
	 transform: translate3d(0, 0, 0);
	 opacity: 1;
}
 article .back {
	 transform: rotateY(180deg);
	 background: rgb(49, 49, 49);
	 position: relative;
	 z-index: 1;
}
 article .back .text {
	 padding: 0 1.7em;
	 transform: translate3d(80%, 0, 0);
}
 article .text {
	 transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s linear;
	 opacity: 0;
}
 article:hover .front {
	 transform: rotateY(-180deg);
}
 article:hover .front .text z{
	 transform: translate3d(-200%, 0, 0);
	 opacity: 0;
}
 article:hover .back {
	 transform: rotateY(0deg);
}
 article:hover .back .text {
	 transform: translate3d(0, 0, 0);
	 opacity: 1;
}
article:nth-child(1) .front {
    background-image: url(./../images/testing.jpg);
}

article:nth-child(1) .front:before {
    background-image: url(https://demo.devolk.blog/cosmos/galaxy.svg);
}

article:nth-child(2) .front {
    background-image: url(https://images.pexels.com/photos/35600/road-sun-rays-path.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
}

article:nth-child(2) .front:before {
    background-image: url(https://demo.devolk.blog/cosmos/light.svg);
}

.thirdarticle .front  {
    background-image: url(./../images/thirdimage.jpg);
}

article:nth-child(3) .front:before {
    background-image: url(https://demo.devolk.blog/cosmos/light.svg);
}

 .auth {
	 position: absolute;
	 bottom: 1em;
	 right: 1em;
}
 .auth a {
	 color: #ccc;
	 text-decoration: none;
}
 